<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151749733936-fbrvus37l6t47pntpr99sp6nkgj80o82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151749733936-fbrvus37l6t47pntpr99sp6nkgj80o82</string>
	<key>API_KEY</key>
	<string>AIzaSyDccBeOPIIvqqbSm3TRApkkV87-fqocU7o</string>
	<key>GCM_SENDER_ID</key>
	<string>151749733936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabRider</string>
	<key>PROJECT_ID</key>
	<string>geetaxi-33def</string>
	<key>STORAGE_BUCKET</key>
	<string>geetaxi-33def.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151749733936:ios:c1f92dcd0cd00de73887f5</string>
	<key>DATABASE_URL</key>
	<string>https://geetaxi-33def-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>